#bar {
  position:absolute;
  width:0%;
  height:10px;
  top:0;
  left:0;
  z-index:9;
  background:#f90;
}

.content {
  width:100%;
  padding-top:50px;
  text-align:center;
}

h1,h5 {
  text-align:center;
  color:#819FF7;
}